@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Kalam&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 850px;
  margin: 50px auto;
  height: 600px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 5px 25px 35px #3535356b;
}

.wrapper .bg-success .text-white {
  font-size: 3rem;
}

.wrapper .bg-success .cursive {
  font-family: "Kalam", cursive;
  font-size: 1rem;
  font-weight: 600;
}

.wrapper .contact-form {
  width: 100%;
  padding: 40px 80px 40px 50px;
}

.wrapper .contact-form .h3 {
  padding-top: 15px;
  font-weight: 700;
}

.wrapper .contact-form label {
  font-size: 0.9rem;
  color: #555;
  font-weight: 500;
  margin-bottom: 10px;
}

.wrapper .contact-form textarea {
  height: 120px;
}

.wrapper .contact-form .form-control {
  background-color: #e7e7e7;
  box-shadow: none;
  font-weight: 600;
  font-size: 0.95rem;
  border: none;
  border-top: 1px solid #bbb;
}

.wrapper .contact-form .btn {
  font-size: 1.2rem;
  font-weight: 700;
}

.wrapper .contact-form .btn.btn-default {
  color: #75c435;
}

.wrapper .contact-form .btn.btn-success {
  background: #75c435;
  border: none;
  padding: 8px 18px;
}

.wrapper .contact-form .btn.btn-success:hover {
  background-color: #75c435;
}

.modal .modal-content .modal-header .fas {
  color: #75c435;
}

@media (max-width: 900.5px) {
  .wrapper {
    margin: 20px;
  }
}

@media (max-width: 575.5px) {
  .wrapper .contact-form {
    padding: 40px;
  }

  .wrapper .bg-success {
    padding-left: 30px;
  }
}

@media (max-width: 496px) {
  .wrapper .bg-success {
    display: none;
  }
}
