@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.red {
  background-image: url(img/cms-img.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 0 20px;
}
* {
  margin: 0;
  padding: 0;
}

#showcase {
  background-image: url(img/cms-img.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 0 20px;
}

body {
  font-family: Arial, sans-serif;
  font-size: 17px;
  color: black;
  line-height: 1.6;
}

.card {
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0 8px 12px #3535356b;
}

.card:hover {
  background-color: #75c435;
  color: #fff;
}

.card:hover .expert-button {
  border: 1px solid #75c435;
  color: #75c435;
  background-color: #fff;
}

.card:hover .expert-button:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #75c435;
}

.expert-button {
  border-radius: 50px;
  height: 45px;
  width: 100%;
  border: 1px solid #75c435;
  color: #75c435;
  background-color: #fff;
  margin-top: 20px;
  padding: 10px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  border: 0;
  font-size: 14px;
}

.text1 {
  font-size: 14px;
}
div.g-2 {
  margin: 20px;
}
@media (max-width: 640px) {
  .show {
    margin: 30px;
  }
}
